aiohappyeyeballs==2.4.4
aiohttp==3.11.11
aiosignal==1.3.2
annotated-types==0.7.0
anyio==4.7.0
attrs==24.3.0
beautifulsoup4==4.13.3
boto3==1.37.4
botocore==1.37.4
bs4==0.0.2
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.4.0
click==8.1.8
colorama==0.4.6
contourpy==1.3.1
cryptography==44.0.3
cycler==0.12.1
DBUtils==3.1.0
fastapi==0.115.6
fonttools==4.55.1
frozenlist==1.5.0
gensim==4.3.3
greenlet==3.0.3
h11==0.14.0
html2text==2024.2.26
httpcore==1.0.7
httptools==0.6.4
httpx==0.28.1
idna==3.10
jieba==0.42.1
jmespath==1.0.1
kiwisolver==1.4.7
lxml==5.3.1
matplotlib==3.9.3
multidict==6.1.0
numpy==1.26.4
packaging==24.2
pillow==11.0.0
playwright==1.43.0
prettytable==3.10.0
propcache==0.2.1
pyaes==1.6.1
pyasn1==0.6.1
pycparser==2.22
pydantic==2.10.5
pydantic_core==2.27.2
pyee==11.1.0
pyFlarum==1.0.2
PyMySQL==1.1.1
pyparsing==3.2.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-telegram-bot==21.9
PyYAML==6.0.2
redis==6.0.0
requests==2.32.3
retrying==1.3.4
rsa==4.9
s3transfer==0.11.3
scipy==1.13.1
six==1.17.0
smart-open==7.1.0
sniffio==1.3.1
socksio==1.0.0
soupsieve==2.6
starlette==0.41.3
Telethon==1.38.1
tqdm==4.67.1
typing_extensions==4.12.2
ua-parser==1.0.1
ua-parser-builtins==0.18.0.post1
urllib3==2.2.3
user-agents==2.2.0
uvicorn==0.34.0
watchfiles==1.0.3
wcwidth==0.2.13
websockets==14.1
wordcloud==1.9.4
wrapt==1.17.2
yarl==1.18.3
