<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lin.bot.model.mapper.UserSettingMapper">

    <resultMap id="BaseResultMap" type="com.lin.bot.model.entity.UserSettingEntity">
            <id property="id" column="id" />
            <result property="wxid" column="wxid" />
            <result property="nickName" column="nick_name" />
            <result property="adminEmail" column="admin_email" />
            <result property="adminWxid" column="admin_wxid" />
            <result property="authPassword" column="auth_password" />
            <result property="autoAcceptFriends" column="auto_accept_friends" />
            <result property="addWelcomeContent" column="add_welcome_content" />
            <result property="matchKeywords" column="match_keywords" />
            <result property="inviteGroupName" column="invite_group_name" />
            <result property="activeGroup" column="active_group" />
            <result property="searchKeywords" column="search_keywords" />
            <result property="cookie" column="cookie" />
            <result property="savePathFid" column="save_path_fid" />
            <result property="appid" column="appid" />
            <result property="uuid" column="uuid" />
            <result property="token" column="token" />
            <result property="remindMsg" column="remind_msg" />
    </resultMap>

    <sql id="Base_Column_List">
        id,wxid,nick_name,admin_email,admin_wxid,auth_password,
        auto_accept_friends,add_welcome_content,match_keywords,invite_group_name,active_group,
        search_keywords,cookie,save_path_fid,appid,uuid,
        token,remind_msg
    </sql>
</mapper>
